<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <br>

  <div class="field">
    <%= f.label :question_1 %><br />
    <%= f.select(:question_1, options_for_select(User::QUESTION1, :selected => f.object.question_1)) %>
  </div>

  <div class="field">
    <%= f.label :question_2 %><br />
    <%= f.select(:question_2, options_for_select(User::QUESTION2, :selected => f.object.question_2)) %>
  </div>

  <div class="field">
    <%= f.label :question_3 %><br />
    <%= f.select(:question_3, options_for_select(User::QUESTION3, :selected => f.object.question_3)) %>
  </div>

  <div class="field">
    <%= f.label :question_4 %><br />
    <%= f.select(:question_4, options_for_select(User::QUESTION4, :selected => f.object.question_4)) %>
  </div>

  <div class="field">
    <%= f.label :question_5 %><br />
    <%= f.select(:question_5, options_for_select(User::QUESTION5, :selected => f.object.question_5)) %>
  </div>

  <div class="field">
    <%= f.label :question_6 %><br />
    <%= f.select(:question_6, options_for_select(User::QUESTION6, :selected => f.object.question_6)) %>
  </div>

    <div class="field">
    <%= f.label :question_7 %><br />
    <%= f.select(:question_7, options_for_select(User::QUESTION7, :selected => f.object.question_7)) %>
  </div>
  
  <br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>


<%= render "devise/shared/links" %>
