<div>
  <div class="container" >
    <% @power_generators.each do |power_generator| %>
      <div class="box card power_generator-card">
        <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
        <div class="power_generator-card__body">
          <h2><%= power_generator.name.upcase %></h2>
          <p class="power_generator-card__price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
          <p><strong>Descrição: </strong><%= power_generator.description %></p>
          <p><strong>Peso: </strong><%= power_generator.weight %></p>
          <%= button_to "Verificar Frete", power_generator_path(power_generator.id), method: :get %>
        </div>
      </div>
    <% end %>
  </div>
</div>
