<div style='padding: 100px;'>
  <div class="container" >
    <div class="box card power_generator-show-card">
      <%= image_tag @power_generator.image_url, class: 'power_generator-show__img' %>
      <div class="power_generator-show__body">
        <h2><%= @power_generator.name.upcase %></h2>
        <p class="power_generator-card__price"><%= number_to_currency(@power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
        <br>
        <strong>Descrição: </strong><%= @power_generator.description %>
        <br>
        <strong>Peso: </strong><%= @power_generator.weight %>
        <br>
        <strong>Potência: </strong><%= @power_generator.kwp %>
        <br>
        <strong>Estrutura: </strong><%= @power_generator.structure_type %>
        <br>
        <strong>Cubagem: </strong><%= @power_generator.cubage %>
        <br>

        <br>
        <% if @cost.nil? %>
          <%= form_tag("/power_generators/#{@power_generator.id}", method: "get") do %>
            <%= label_tag(:cep, "Cep:") %>
            <%= text_field_tag(:cep, class: 'cep') %>
            <%= submit_tag("Buscar cep") %>
          <% end %>
        <% else %>
          <h2>Custo do frete para: <%= @address[:city] %> - <%= @address[:state]%></h2> 
            <p class="power_generator-card__price"><%= number_to_currency(@cost.cost, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".")  %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>