<!DOCTYPE html>
<html>
  <head>
    <title>Portal Solar - Dev Test</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <div class="header">
      <%= link_to root_path do %>
        <div class="logo"><%= image_tag 'ps_logo.png' %></div>
      <% end %>
      <div class="header__title">Geradores de Energia</div>
    </div>

    <div class="searcher gradient">
      <%= search_form_for @q do |f| %>
        <%= f.label :'Buscar Por Nome' %>
        <%= f.search_field :name_cont %>
        <%= f.submit "Buscar" %>
      <% end %>

      <% if user_signed_in? %>
        <%= button_to "Produtos recomendados especialmente para você :)", match_equipment_index_path, method: :get %>
      <% end %>

      <div class='text-right' style='padding: 50px; right: 0px;'>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Cadastrar", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </div>
    </div>

    <% if notice %>
      <div class="alerts" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
